
canvas{
    height: 100%;
    width: 100%;
}

.ui{
    position: relative;
   
    width: 100%;
    height: 100%;
    background-color: rebeccapurple;
    margin: 10px;
}

.ui img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
  
}

.ui canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 80;
    /* background-color: blue; */
}

