

body{
    margin: 0;
    padding: 0;
    background-color: teal;
    height: 100vh;
    width: 100vw;

}

body::-webkit-scrollbar {
    display: none;
}


h1 {
    color: white;
    text-align: center;
    font-size: 50px;
    margin: 0;
    padding: 0;
    padding-top: 20px;
}

h2 {
    color: white;
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding: 0;
    padding-top: 20px;
}

button {
    background-color: white;
    color: teal;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}


input {
    background-color: white;
    color: teal;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

/* 
make the choose file button drag and drop
*/

input::-webkit-file-upload-button {
    background-color: white;
    color: teal;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

canvas{
    height: 100%;
    width: 100%;
}

.ui{
    position: relative;
   
    width: 100%;
    height: 100%;
    /* background-color: rebeccapurple; */
    margin: 10px;
}

.ui img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
  
}

.ui canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 80;
    /* background-color: blue; */
}

